<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>CSA - boost your business with the best integration platform</h1>
    <h3>We are very glad to inform you <strong>{{first_name}} {{last_name}}</strong> that you have successfully
        registered an account in CSA,
        please click the below link to activate your account</h3>
    <br>
    <a
        href="http://localhost:3000/account/users/verify_email/{{userId}}/{{token}}">http://localhost:3000/account/users/verify_email/{{userId}}/{{token}}</a>
</body>

</html>